*
   font-family: 'Lato', sans-serif
   margin: 0
   padding: 0

body
   background-color: #ffffff
.container
   width: 400px
.collection-item
   &:hover
      cursor: pointer

li
   display: flex
   justify-content: space-between
button
   margin-left: auto
   border: none
   &:hover
      cursor: pointer
